 :root {
    /* Background */
    --bg-white: #FFFFFF;
    --bg-gray: #F9FAFB;
    --bg-line: #25282B;

    /* Brand */
    --primary-brand: #3578E5;
    /* --secondary-brand: #004AAD; */

    /* Button */
    --cta-button: #2563EB;
    --cta-button-hover: #1D4ED8;

    /* Text */
    --font-low-emphasis: #9A9FA8;
    /* --font-medium-emphasis: #828282; */
    --font-medium-emphasis: #6B7280;
    --font-high-emphasis: #23272F;
    --font-white: #FFFFFF;

    /* Form */
    --border-white: #E8ECF4;
    --border-black: rgb(186, 194, 206);

    /* Error */
    --error-color: #D32F2F;
}
