<div class="container">
    <div class="about-us">
        <div class="heading">
            <h1>За нас</h1>
      
            <div class="line"></div>
        </div>

        <div class="text-section">
            <div class="text text-small">
                <mark>„Добротворците на Северозапада“</mark> е общност от хора с големи сърца, които вярват, че всяко добро – независимо дали е малък жест, споделено време или дарена помощ – има силата да променя животи.
            </div>
    
            <div class="text text-small">
                Проектът ни обхваща областите <mark>Видин и Монтана</mark> – региони, често определяни като забравени, но пълни с достойнство, потенциал и добри хора. Ние искаме да върнем вярата в дарителството и да вдъхновим повече съпричастност и активност в нашите общности.
            </div>
    
            <div class="text text-small ">
                <div class="text-heading">Как го правим?</div>
                <div>🔸 Събираме и разказваме <mark>истински истории</mark> на добротворци – хора, които променят света около себе си.</div>
                <div>🔸 Организираме <mark>инициативи и събития</mark>, в които всеки може да се включи.</div>
                <div>🔸 Даваме глас на тези, които имат нужда, и платформа за тези, които искат да помагат.</div>
                <div>🔸 Създаваме трайни връзки между <mark>младежи, институции, бизнес и граждански организации</mark>, които вярват, че промяната започва от нас самите.</div>
            </div>

            <div class="text text-small">
                <div class="text-heading">Нашата мечта е проста:</div>
                <div>Да направим <mark>дарителството част от културата</mark> в Северозападна България.</div>
                <div>Да върнем <mark>усещането за сплотеност</mark>.</div>
                <div>Да докажем, че <mark>доброто е по-силно, когато го правим заедно</mark>.</div>
            </div>

            <div class="text text-small" style="font-style: italic;">
                „Подкрепата за ЛОЗАНОВИ-ВД ООД е осигурена по Конкурс „Развитие на дарителството на местно ниво“ от Сдружение „Платформа АГОРА” и Фондация „Америка за България”.
            </div>
    
            <!-- <a routerLink="" [state]="{ scrollTo: 'projects', }" class="btn btn-primary">Блог</a> -->
        </div>
    </div>
</div>

<div class="section-space"></div>

<app-contact-me></app-contact-me>

<div class="section-space"></div>

<div class="banner">
    <img src="assets\img\about-us-banner.webp">
</div>
