:host {
  position: relative;
}

.container {
  position: relative;
  z-index: 2;
  padding: 60px 0px;
}

.container-bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1;
  background: #f1f1f1;
  pointer-events: none;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.heading h1 {
  text-align: center;
  font-size: 44px;
  /* margin-bottom: 4px; */
}

.heading .line {
  align-self: center;
  height: 4px;
  width: 140px;
  background-color: var(--primary-brand);
}

:host-context(.mobile) .heading .line,
:host-context(.tablet) .heading .line {
  width: 100px;
}

.items {
  display: flex;
  justify-content: center;
  gap: 120px;
}

:host-context(.mobile) .items,
:host-context(.tablet) .items {
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.item .text {
  line-height: 26px;
  color: var(--font-medium-emphasis);
}

.icon img {
  width: 80px;
  height: auto;
  object-fit: cover;
}
