<div class="upload-container">
     <div 
        class="upload-placeholder" 
        (drop)="fileDrop($event)" 
        (dragover)="dragOver($event)" 
        (click)="openFile()">

        <input #uploadFile (change)="fileInput($event)" type="file" accept=".xlsx,.csv" hidden />

        <label for="file-upload" class="upload-label">Избери файл или го пусни тук</label>
    </div>

    @if (selectedFile) {
        <div class="file-details">
            <p>Избран файл: {{ selectedFile.name }}</p>
            <button class="send-button" (click)="sendFile()">Изпрати файла</button>
        </div>
    }
</div>

@if (isLoading) {
    <div class="loader-container">
        <div class="loader"></div>
    </div>
}
