.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

:host-context(.tablet) .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

:host-context(.mobile) .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

/* :host-context(.tablet) .hero-image {
  max-width: 400px;
} */

.header-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

:host-context(.tablet) .header-container {
  width: 100%;
  max-width: 480px;
}

:host-context(.mobile) .header-container {
  width: 100%;
  max-width: 100%;
}

.header-container h1 {
  font-size: 60px;
  line-height: 76px;
  margin-bottom: 0px;
}

:host-context(.tablet) .header-container h1 {
  font-size: 48px;
  line-height: unset;
}

:host-context(.mobile) .header-container h1 {
  font-size: 38px;
  line-height: unset;
}

.header-container span {
  max-width: 40ch;
  width: 100%;
  font-size: 24px;
  margin-bottom: 0px;
}

:host-context(.tablet) .header-container span,
:host-context(.mobile) .header-container span {
  font-size: 20px;
}

.btn-group {
  display: flex;
  gap: 12px;
}
