<div class="container">
    <img src="assets/img/logo-side.webp" class="logo" routerLink="" alt="An image of the logo">

    <img src="assets/img/hamburger.svg" (click)="triggerAnimation()" alt="A hamburger image for dropdown menu">
</div>

@if (isExpanderOpen) {
    <div class="expander-container" [@slideInOut]>
        <div class="expander">
            <div class="heading">
                <img src="assets/img/logo-side.webp" class="logo" routerLink="" (click)="triggerAnimation()" alt="An image of the logo">

                <img src="assets/img/hamburger.svg" (click)="triggerAnimation()" alt="A hamburger image for dropdown menu">
            </div>

            <div class="actions">
                <a routerLink="" (click)="triggerAnimation()">Начало</a>
                <!-- <a routerLink="blog" (click)="triggerAnimation()">Блог</a>
                <a routerLink="galleries" [state]="{ scrollTo: 'projects', }" (click)="triggerAnimation()">Галерия</a>
                <a routerLink="video" (click)="triggerAnimation()">Видео</a> -->
                <a routerLink="za-nas" (click)="triggerAnimation()">За Нас</a>
                <a routerLink="kontakti" (click)="triggerAnimation()">Контакти</a>
            </div>

            <div class="links">
                <a href="https://www.facebook.com/profile.php?id=61575249095133" target="_blank"><img src="assets/img/facebook-dark.svg"  alt="An image of the Facebook logo"></a>
                <a href="https://www.instagram.com/northwesterngood/" target="_blank"><img src="assets/img/instagram-dark.svg"  alt="An image of the Instagram logo"></a>
                <a href="https://www.tiktok.com/@northwesterngood " target="_blank"><img src="assets/img/tiktok-dark.svg"  alt="An image of the TikTok logo"></a>
                <a href="https://www.youtube.com/@northwesterngood" target="_blank"><img src="assets/img/youtube-dark.svg"  alt="An image of the YouTube logo"></a>
            </div>
        </div>
    </div>
}
