<div class="container">
    <img src="assets/img/logo.png" class="logo" routerLink="" alt="An image of the logo">

    <img src="assets/img/hamburger.svg" (click)="triggerAnimation()" alt="A hamburger image for dropdown menu">
</div>

@if (isExpanderOpen) {
    <div class="expander-container" [@slideInOut]>
        <div class="expander">
            <div class="heading">
                <img src="assets/img/logo.png" class="logo" routerLink="" (click)="triggerAnimation()" alt="An image of the logo">

                <img src="assets/img/hamburger.svg" (click)="triggerAnimation()" alt="A hamburger image for dropdown menu">
            </div>

            <div class="actions">
                <a routerLink="" (click)="triggerAnimation()">Начало</a>
                <a routerLink="optimizirai-marshrut" (click)="triggerAnimation()">Оптимизирай маршрут</a>
                <a routerLink="kontakti" (click)="triggerAnimation()">Контакти</a>
            </div>

            <div class="actions">
                @if (user && user.enabled) {
                    <a (click)="logout()">Изход</a>
                } @else {
                    <a routerLink="login">Вход</a>
                }
            </div>
        </div>
    </div>
}
